---
- name: Install Tailscale CLI (macOS)
  community.general.homebrew:
    name: tailscale
    state: present
  become: false

- name: Start Tailscale Service (macOS)
  ansible.builtin.command: brew services start tailscale
  register: brew_services_start
  changed_when: "'successfully started' in brew_services_start.stdout"
  failed_when: false
  become: false

- name: Check if Tailscale is authenticated
  ansible.builtin.command: tailscale status
  register: tailscale_status
  ignore_errors: yes
  changed_when: false
  become: false

- name: Authenticate Tailscale
  ansible.builtin.command: tailscale up --authkey={{ tailscale_auth_key }} --hostname={{ inventory_hostname }}
  when: 
    - tailscale_status.rc != 0
    - tailscale_auth_key is defined
  # Note: 'tailscale up' might require sudo password if strictly interacting with a system daemon,
  # but often works in user mode on Mac or triggers a GUI prompt.
  become: false