---
- name: Add Tailscale GPG key
  ansible.builtin.get_url:
    url: https://pkgs.tailscale.com/stable/ubuntu/jammy.noarmor.gpg
    dest: /usr/share/keyrings/tailscale-archive-keyring.gpg
    mode: '0644'

- name: Add Tailscale repository
  ansible.builtin.get_url:
    url: https://pkgs.tailscale.com/stable/ubuntu/jammy.tailscale-keyring.list
    dest: /etc/apt/sources.list.d/tailscale.list

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes

- name: Install Tailscale
  ansible.builtin.apt:
    name: tailscale
    state: present

- name: Start Tailscale service
  ansible.builtin.service:
    name: tailscaled
    state: started
    enabled: true

- name: Check if Tailscale is authenticated
  ansible.builtin.command: tailscale status
  register: tailscale_status
  changed_when: false
  failed_when: false

- name: Authenticate Tailscale
  ansible.builtin.command: tailscale up --authkey={{ tailscale_auth_key }} --hostname={{ inventory_hostname }}
  when: 
    - tailscale_status.rc != 0
    - tailscale_auth_key is defined
